body {
  overflow: hidden; /* Hide scrollbars */
}

.main-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 75vh 25vh;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: smaller;
}

.main-container .top-container {
  display: grid;
  grid-template-columns: 65% 35%;
}

.main-container .top-container .left-container {
  background-color: var(--left-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-container .left-container .back-to-home {
  position: absolute;
  left: 10px;
  top: 12px;
}

.top-container .left-container .video-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.video-container .ratio {
  max-width: 100%;
  position: relative;
}

.video-container .ratio-16x9 {
  --bs-aspect-ratio: 56.25%;
}

.video-container video {
  max-width: 100%;
  max-height: 100%;
}

.video-container .subtitle-display {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 10%;
  color: white;
  padding: 2px 5px;
  opacity: 0.8;
  max-width: 65%;
}

.subtitle-display .subtitle-text {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: x-large;
}

.main-container .top-container .right-container {
  background-color: var(--right-bg-color);
  max-height: 100%;
}

.right-container .top-subtitle-container {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--right-body-text-color);
}

.right-container .top-subtitle-container h2 {
  margin: 0;
}

.right-container .bottom-subtitle-container {
  height: 70vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: auto;
}

.bottom-subtitle-container .subtitle-item-container {
  height: 13vh;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 60% 8%;
  overflow-y: auto;
  grid-template-rows: 80%;
  justify-content: space-evenly;
  align-content: center;
  border-top: 2px solid var(--bs-body-border-color);

  font-size: smaller;
}

.subtitle-item-container:hover,
.subtitle-forloop .focus {
  background-color: var(--left-bg-color);
  color: var(--left-bg-color);
}

.subtitle-item-container .subtitle-time-stamp-container {
  display: grid;
  grid-template-rows: 40% 40%;
  align-content: space-evenly;
}

.subtitle-time-stamp-container input {
  width: 100%;
  color: var(--right-body-text-color);
  background-color: var(--right-bg-color);
  border: none;
  text-align: center;
  /* font-size: large; */
}

.subtitle-time-stamp-container input:hover {
  border: 3px solid var(--bs-body-border-color);
  border-radius: 5px;
}

.subtitle-item-container .subtitle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle-container textarea {
  color: var(--right-body-text-color);
  background-color: var(--right-bg-color);
  border: none;
  resize: none;
  width: 95%;
  height: 90%;
  /* font-size: large; */
}

.subtitle-container textarea:hover {
  border: 3px solid var(--bs-body-border-color);
  border-radius: 5px;
}

.subtitle-item-container .subtitle-button-container {
  display: grid;
  align-content: space-evenly;
  justify-content: center;
  color: var(--right-body-text-color);
}

.subtitle-button-container .bi-x-circle:hover,
.bi-plus-circle:hover {
  color: var(--bs-body-border-color);
}

.bottom-subtitle-container .subtitle-add-container {
  height: 10vh;
  min-height: 10vh;
  border-top: 1px solid var(--bs-body-border-color);
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-subtitle-container .subtitle-add-container:hover {
  background-color: var(--left-bg-color);
}

.main-container .bottom-container {
  background-color: var(--bottom-bg-color);
  max-width: 100%;
  overflow-y: hidden;
}

.bottom-container .toolbar {
  height: 20%;
  border-bottom: 1px solid #575a5c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  /* flex: 1 1 1; */
}

.toolbar .left-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex: 1;
}

.left-toolbar div {
  margin-right: 1em;
}

.toolbar .center-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.toolbar .right-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex: 1;
}

.toolbar .right-toolbar div {
  margin-left: 1em;
}

.right-toolbar .dropdown .dropdown-toggle {
  /* background-color: var(--right-bg-color); */
  /* color: var(--right-body-text-color); */
  font-size: smaller;
}
.right-toolbar .dropdown .dropdown-menu {
  background-color: var(--right-bg-color);
  color: var(--right-body-text-color);
  font-size: smaller;
}

.dropdown .dropdown-menu .dropdown-item {
  color: var(--right-body-text-color);
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--bottom-bg-color);
  color: var(--right-body-lg-text-color);
}

#downloadSubtitleModel .modal-dialog .modal-content,
#downloadSubtitleModel
  .modal-dialog
  .modal-content
  .form-floating
  .form-control {
  background-color: var(--right-bg-color);
  color: var(--right-body-text-color);
}

#downloadSubtitleModel .modal-dialog .modal-content label::after {
  background-color: var(--left-bg-color);
  color: var(--right-body-text-color);
}

#downloadSubtitleModel .modal-dialog .modal-content label {
  color: var(--right-body-text-color);
}

#downloadSubtitleModel .modal-dialog .modal-content .modal-header {
  border-bottom: 1px solid var(--model-lines-color);
}

#downloadSubtitleModel .modal-dialog .modal-content .modal-footer {
  border-top: 1px solid var(--model-lines-color);
}

#downloadSubtitleModel
  .modal-dialog
  .modal-content
  .modal-body
  .form-floating
  .form-control {
  border: 1px solid var(--model-lines-color);
}

#downloadSubtitleModel .modal-dialog .modal-footer .cancel-btn {
  opacity: 0.7;
}

.back-to-home .btn-close,
.back-to-home .btn-close,
.add-subtitle label,
.download-subtitle label,
.save-subtitle label {
  /* transition: all ease-in 0.1ms; */
  cursor: pointer;
}

.main-container .bottom-container .main-scale {
  height: 70%;
  margin: 7px 8px;
}

.main-scale .scale-container {
  height: 100%;
  width: 100%;
  border: 1px solid var(--bs-body-border-color);
  border-radius: 10px;
  color: var(--right-body-text-color);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 7px !important;
  padding-bottom: 10px;
  /* display: none; */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #555; /* Background color */
  border-radius: 5px; /* Rounded corners */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: #383636; /* Track background color */
}

.main-scale .scale-container .scale {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  color: var(--right-body-text-color);
  margin-left: 10px;
}
*/ .scale-container .scale-second-loop {
  height: 100%;
  width: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}

.scale-second-loop .second-unit-text {
  font-size: xx-small;
  position: relative;
  left: -9px;
}

.scale .scale-second-loop .second-unit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--right-body-text-color);

  height: 50%;
  border-left: 1px solid var(--bs-body-border-color);
  font-size: x-small;
}

.second-unit .mili-second-loop {
  height: 100%;
  width: 10px;
}

.second-unit .mili-second-loop .mili-second-unit {
  height: 50%;
  border-right: 1px solid var(--bs-body-border-color);
  font-size: x-small;
  position: relative;
  left: 1px;
}

.main-scale .scale-container .scale-subtitle {
  margin-top: 15px;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

.scale-container .subtitle-loop {
  height: 100%;
  position: absolute;
}

.scale-container .subtitle-loop .subtitle-text {
  background-color: var(--left-bg-color);
  color: var(--right-body-text-color);
  border: 1px solid var(--bs-subtitle-border-color);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  text-align: center;
  resize: none;
}

.scale-container .subtitle-loop .subtitle-text:hover,
.scale-container .subtitle-loop .focus {
  border: 1px solid var(--bs-subtitle-border-color-hover);
}

.scale-subtitle .left-handle {
  top: 0;
  position: absolute;
  height: 100%;
  width: 6px;
  border-radius: 4px;
  background-color: blue;
  z-index: 10;
  cursor: col-resize !important;
}

.scale-subtitle .right-handle {
  top: 0;
  position: absolute;
  height: 100%;
  width: 6px;
  border-radius: 4px;
  background-color: red;
  z-index: 10;
  cursor: col-resize !important;
}

.scale-subtitle .temp-handle {
  top: 0;
  position: absolute;
  height: 100%;
  width: 6px;
  border-radius: 4px;
  background-color: green;
  z-index: 10;
  cursor: col-resize !important;
}

.cst-pointer .cst-pointer-triangle {
  position: absolute;
  top: -0;
  left: 667px;
  width: 0;
  height: 0;
  z-index: 10;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--right-body-text-color);
}

/* .scale-subtitle .cst-pointer .cst-pointer-traingle:hover {
  border-right: 10px solid var(--bs-subtitle-border-color-hover);
} */

.cst-pointer .cst-pointer-line {
  position: absolute;
  top: 0;
  left: 670px;
  width: 1px;
  height: 420%;
  z-index: 10;
  background-color: var(--right-body-text-color);
}

:root {
  --right-bg-color: #262a2d;
  --right-body-text-color: #dee2e6;
  --right-body-lg-text-color: #fff;
  --model-lines-color: #aba5a5c0;
  --right-text-primary-color: #084298;
  --left-bg-color: #353a3e;
  --bottom-bg-color: #212529;
  --bs-body-border-color: #575a5c;
  --bs-subtitle-border-color: #575a5c;
  --bs-subtitle-border-color-hover: #898d8e;
}
